@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url(fonts/Montserrat-SemiBold.ttf) format('truetype');
}

body {
  background: #F0E7EA;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat-SemiBold';
}
